doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css",rel="stylesheet")
    script(type='text/javascript', src='/javascripts/vis/vis.js')
  body
    block content
    script(type='text/javascript', src='/javascripts/graph.js')

